############################
#        Database          #
############################
DB_USER=nnergix_user
DB_PASSWORD=pon_tu_contraseña_aqui
DB_HOST=db
DB_PORT=5432
DB_NAME=nnergix_db

############################
#          Proxy           #
############################
#HTTP_PROXY=
#HTTPS_PROXY=
NO_PROXY=localhost,127.0.0.1,db